name: Publish Binaries

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
        - uses: actions/checkout@v4
          with:
            submodules: 'true'
        - name: Get zig version
          id: zigversion        
          run: |
            $version = Get-Content -Path .zigversion -Raw
            "version=$version" | Out-File -FilePath $env:GITHUB_OUTPUT -Encoding utf8 -Append
        - name: Setup zig
          uses: mlugg/setup-zig@v2
          with:
            version: ${{ steps.zigversion.outputs.version }}
        - name: Compile Deecy for x86_64_v4
          run: zig build --release=fast -Dcpu=x86_64_v4
        - name: Prepare artifact for x86_64_v4
          run: |
            mkdir Deecy
            cp zig-out/bin/Deecy.exe Deecy/
            cp zig-out/bin/dxcompiler.dll Deecy/
            cp zig-out/bin/dxil.dll Deecy/
            printf "Copy dc_boot.bin and dc_flash.bin in ./data.\nWebsite: https://github.com/Senryoku/Deecy" > Deecy/README.txt
            mkdir Deecy/data
            printf "Copy dc_boot.bin and dc_flash.bin here." > Deecy/data/README.txt
        - uses: actions/upload-artifact@v4
          with: 
            name: Deecy-x86_64_v4-windows
            path: Deecy/
        - name: Compile Deecy for x86_64_v3
          run: zig build --release=fast -Dcpu=x86_64_v3
        - name: Prepare artifact for x86_64_v3
          run: |
            rm Deecy/Deecy.exe
            cp zig-out/bin/Deecy.exe Deecy/
        - uses: actions/upload-artifact@v4
          with: 
            name: Deecy-x86_64_v3-windows
            path: Deecy/
        - name: Compile Deecy for x86_64_v2
          run: zig build --release=fast -Dcpu=x86_64_v2
        - name: Prepare artifact for x86_64_v2
          run: |
            rm Deecy/Deecy.exe
            cp zig-out/bin/Deecy.exe Deecy/
        - uses: actions/upload-artifact@v4
          with: 
            name: Deecy-x86_64_v2-windows
            path: Deecy/
  build-linux:
    runs-on: ubuntu-latest
    steps:
        - name: Install nfd-zig dependencies
          run: sudo apt update && sudo apt -y install libgtk-3-dev
        - uses: actions/checkout@v4
          with:
            submodules: 'true'
            lfs: 'true'
        - name: Get zig version
          id: zigversion
          run: echo "version=$(cat .zigversion)" >> $GITHUB_OUTPUT
        - name: Setup zig
          uses: mlugg/setup-zig@v2
          with:
            version: ${{ steps.zigversion.outputs.version }}
        - name: Compile Deecy for x86_64_v4
          run: zig build --release=fast -Dcpu=x86_64_v4
        - name: Prepare artifact for x86_64_v4
          run: |
            mkdir Deecy
            cp zig-out/bin/Deecy Deecy/
            printf "Copy dc_boot.bin and dc_flash.bin in ./data.\nWebsite: https://github.com/Senryoku/Deecy" > Deecy/README.txt
            mkdir Deecy/data
            printf "Copy dc_boot.bin and dc_flash.bin here." > Deecy/data/README.txt
        - uses: actions/upload-artifact@v4
          with: 
            name: Deecy-x86_64_v4-linux
            path: Deecy/
        - name: Compile Deecy for x86_64_v3
          run: zig build --release=fast -Dcpu=x86_64_v3
        - name: Prepare artifact for x86_64_v3
          run: |
            rm Deecy/Deecy
            cp zig-out/bin/Deecy Deecy/
        - uses: actions/upload-artifact@v4
          with: 
            name: Deecy-x86_64_v3-linux
            path: Deecy/
        - name: Compile Deecy for x86_64_v2
          run: zig build --release=fast -Dcpu=x86_64_v2
        - name: Prepare artifact for x86_64_v2
          run: |
            rm Deecy/Deecy
            cp zig-out/bin/Deecy Deecy/
        - uses: actions/upload-artifact@v4
          with: 
            name: Deecy-x86_64_v2-linux
            path: Deecy/

