name: Publish Binaries

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest]
        cpu: [x86_64]
        include:
          - os: windows-latest
            artifact_suffix: windows
          - os: ubuntu-latest
            artifact_suffix: linux

    runs-on: ${{ matrix.os }}

    steps:
      - name: Install Linux dependencies
        if: runner.os == 'Linux'
        run: sudo apt update && sudo apt -y install libgtk-3-dev

      - uses: actions/checkout@v4
        with:
          submodules: 'true'
          lfs: 'true'

      - name: Get zig version
        id: zigversion
        shell: bash
        run: echo "version=$(cat .zigversion)" >> $GITHUB_OUTPUT

      - name: Setup zig
        uses: mlugg/setup-zig@v2
        with:
          version: ${{ steps.zigversion.outputs.version }}

      - name: Compile Deecy
        run: zig build -Dcpu=${{ matrix.cpu }}

      - name: Prepare Artifacts
        shell: bash
        run: |
          mkdir -p Deecy/data
          printf "Copy dc_boot.bin and dc_flash.bin in ./data.\nWebsite: https://github.com/Senryoku/Deecy" > Deecy/README.txt
          printf "Copy dc_boot.bin and dc_flash.bin here." > Deecy/data/README.txt
          
          if [ "${{ runner.os }}" == "Windows" ]; then
            cp zig-out/bin/dxcompiler.dll Deecy/
            cp zig-out/bin/dxil.dll Deecy/
            cp zig-out/bin/Deecy.exe Deecy/
            cp zig-out/bin/Deecy.com Deecy/
          else
            cp zig-out/bin/Deecy Deecy/
          fi

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Deecy-${{ matrix.cpu }}-${{ matrix.artifact_suffix }}
          path: Deecy/
